*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333333;
}

.logo-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

#logo-header{
    margin-left: 30px;
}

#logo-footer{
    margin-bottom: 20px;
}

nav{
    flex: 1;
    text-align: right;
    padding-right: 50px;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.active-nav{
    color: #fff;
    font-weight:600;
}

.fa-bars{
    color: #333;
}

a{
    text-decoration: none;
    color: #888;
}

p{
    color: #444;
}

.header .container .row .col-2 p{
    font-size: 20px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.header h1{
    color: black;
}

.btn{
    display: inline-block;
    background: #1a374d;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.5s;
}

.btn:hover{
    background: #406882;
    cursor: pointer;
}

.header{
    background: radial-gradient(#cddeff,#35589a);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}

.categories .col-3 img{
    height: 250px;
    width: max-content;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    vertical-align: middle;
}

.img-box{
    height: 310px;
    align-content: center;
    vertical-align: middle;
    width: 90%;
}

.img-box-2{
    height: 310px;
    align-content: center;
    vertical-align: middle;
    width: 100%;
}

.img-box-3{
    height: 280px;
    align-content: center;
    vertical-align: middle;
    width: 100%;
}

.product-img{
    max-width: 100%;
    max-height: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #1a374d;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;   
}

.rating .fa{
    color: #1a374d;
}

.col-4:hover{
    transform: translateY(-5px);
}

.offer{
    background: radial-gradient(#333,#111);
    margin-top: 80px;
    padding: 80px 0;
}

.offer h1{
    color: #fff;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #ccc;
    font-size: 20px;
}

.testimonial{
    padding-top: 100px;
    margin-bottom: 150px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.testimonial .col-3 p{
    min-height: 100px;
    margin: 12px 0;
    font-size: 12px;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.fa.fa-quote-left{
    font-size: 34px;
    color: #1a374d;
}

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.col-5 img:hover{
    filter: grayscale(0%);
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    filter:grayscale(100);
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

/*all products*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 2px solid #1a374d;
    padding: 5px;
}

select:focus{
    outline: none;
}

option{
    padding-bottom: 10px;
    vertical-align: middle;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #1a374d;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #1a374d;
    color: white;
}

.active-page{
    background: #1a374d;
    color: white;
}

/*single product*/

.single-product{
    margin-top: 80px;
}

.product-col{
    flex-basis: 40%;
    min-width: 250px;
    margin-bottom: 30px;
}


.single-product .col-2{
    padding: 20px;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid #1a374d;
}

input:focus{
    outline: none;
}

.single-product .fa{
    color: #1a374d;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/*bag*/

.bag-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.bag-item{
    display: flex;
    flex-wrap: wrap;
}

th{
    font-weight:normal;
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #1a374d;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #1a374d;
    font-size: 12px;
    cursor: pointer;
}

td img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
}

.bag-img-box{
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
}

.small-text{
    font-size: 14px;
}

.total{
    display: flex;
    justify-content: flex-end;
}

.total table{
    border-top: 3px solid #1a374d;
    width: 100%;
    max-width: 350px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


/*media query*/
@media only screen and (max-width: 800px) {
    nav ul{
        position: absolute;
        top: 48px;
        left: 0;
        background: #222;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .fa-bars{
        color: #888;
        margin-left: 20px;
        display: block;
        cursor: pointer;
    }

    .fa-bars:hover{
        color: white;
    }

}

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }

    .col-2{
        flex-basis: 100%;
    }

    .col-3{
        flex-basis: 100%;
    }

    .img-box{
        height: max-content;
    }

    .img-box-2{
        height: max-content;
    }

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }

    .bag-item p{
        display: none;
    }
}

